<ol class="items-list">
    {{#each cybernetics as |cybernetics place|}}
      <li class="item flexrow items-header">
        <div class="item-name">{{place}}</div>
        <div class="item-skill-ranks">Capacity</div>
        <div class="item-skill-tag">Implanted</div>
        <div class="item-controls">
        </div>
      </li>
      {{#each cybernetics as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
                <h4><a data-roll-type="item">{{item.name}}</a></h4>
            </div>
            <div class="item-cybernetic-capacity flex-group-center">
              <h4 class="center">{{item.system.capacity}}</h4>
            </div>
            <div class="item-cybernetic-implanted flex-group-center">
                <input type="checkbox" name="implented" {{#ifCond item.system.implanted '==' true}}checked{{/ifCond}} >
            </div>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    {{/each}}
  </ol>