  <section class="grid grid-3col">
    <aside class="sidebar">

      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
        <div class="abilities flexcol">
            <li class="item flexrow items-header">
                <div class="attribute-label">Derived Statistics</div>
            </li>
            <div class=" flexrow">
                <div class="item-name flex3">
                    <h4>Battlehac Attack</h4>
                </div>
                <div class="hack-attack-value flex1">
                    <input type="number" name="value" value="{{system.hackAttack.value}}">
                </div>
            </div>
            <div class=" flexrow">
                <div class="item-name flex3">
                    <h4>Max RAM</h4>
                </div>
                <div class="ram-max flex1">
                    <input type="number" name="max" value="{{system.ram.max}}">
                </div>
            </div>
            <div class=" flexrow">
                <div class="item-name flex3">
                    <h4>Remaining RAM</h4>
                </div>
                <div class="ram-value flex1">
                    <input type="number" name="value" value="{{system.ram.value}}">
                </div>
            </div>
        </div>
    </aside>

    {{!-- For the main features list, span the right two columns --}}
    <section class="main grid-span-2">
        <ol class="items-list">
            <li class="item flexrow items-header">
              <div class="item-name">Battlehack</div>
              <div class="item-difficulty">Difficulty</div>
              <div class="item-ramcost">RAM Cost</div>
              <div class="item-control"></div>
            </li>
            {{#each battlehacks as |item id|}}
              <li class="item skill flexrow" data-item-id="{{item._id}}">
                <div class="item-name">
                  <h4><a data-roll-type="item">{{item.name}}</a></h4>
                </div>
                <div class="item-difficulty">
                    <h4>{{item.system.difficulty}}</h4>
                </div>
                <div class="item-ramcost">
                    <h4>{{item.system.ramCost}}</h4>
                </div>
                <div class = "flex0">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
                  
        
              </li>
            {{/each}}
          </ol>
          
    </section>

</section>