<ol class="items-list">
	<li class="item weapon flexrow items-header">
		<div class="flexrow flexlarge item-name upperC">
			{{localize 'ELECTRICEMBRACE.UI.Weapons'}}
		</div>
		<div class="flexrow flexlarge item-info">
			<p>{{localize 'ELECTRICEMBRACE.UI.Damage'}}</p>
			<p>{{localize 'ELECTRICEMBRACE.UI.Type'}}</p>
		</div>
		<div class="item-controls">
			<a
				class="item-control item-create"
				title="{{localize 'ELECTRICEMBRACE.TEMPLATES.Create_Weapon'}}"
				data-type="weapon"
			>
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</li>

  {{#each weapons as |item id| }}
		<li class="item weapon" data-item-id="{{item._id}}">
			<div class=" flexrow">
				<div class="item-name flexlarge weapon-roll">
					<a class="resource-label">
						{{item.name}}
					</a>
				</div>

        <div class="flexrow flexlarge align-mid">
					<div class="text-center">
						<a class="weapon-roll-damage">
							<strong>
								{{item.system.damage.rating}}
							</strong>
							{{#ifCond item.system.melee '===' true}}
								+
								<span>
									<strong>
										{{meleeDamage}}
									</strong>
								</span>
							{{/ifCond}}
							<span class="fo-pip-boy fo-blue"></span>
						</a>
					</div>
					<div class="text-center">
						{{#each item.system.damage.damageType as |dt dk|}}
							{{#ifCond dt '==' true}}
								{{dk}},
							{{/ifCond}}
						{{/each}}
					</div>
				</div>

        <div class="item-controls">
					<a
						class="item-control item-edit"
						title="Edit Item"
					>
						<i class="fas fa-edit"></i>
					</a>
					<a
						class="item-control item-delete"
						title="Delete Item"
					>
						<i class="fas fa-trash"></i>
					</a>
				</div>


			</div>
		</li>
	{{/each}}


	<li class="item apparel flexrow items-header">
		<div class="flexrow flexlarge item-name upperC">
			{{localize 'ELECTRICEMBRACE.UI.Apparel'}}
		</div>
		<div class="flexrow flexlarge item-info">
			<p>{{localize 'ELECTRICEMBRACE.UI.Equipped'}}</p>
		</div>
		<div class="item-controls">
			<a
				class="item-control item-create"
				title="{{localize 'ELECTRICEMBRACE.TEMPLATES.Create_Apparel'}}"
				data-type="apparel"
			>
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</li>

	{{#each apparel as |item id| }}
		<li class="item apparel" data-item-id="{{item._id}}">
			<div class=" flexrow">
				<div class="item-name flexlarge flexrow-roll">
					<a class="resource-label">
						{{item.name}}
					</a>
				</div>

				<div class="flexrow align-mid item-equipped">
					<input type="checkbox" name="equipped" {{#ifCond item.system.equipped '==' true}}checked{{/ifCond}} >
				</div>

        		<div class="item-controls">
					<a
						class="item-control item-edit"
						title="Edit Item"
					>
						<i class="fas fa-edit"></i>
					</a>
					<a
						class="item-control item-delete"
						title="Delete Item"
					>
						<i class="fas fa-trash"></i>
					</a>
				</div>


			</div>
		</li>
	{{/each}}



	<li class="item consumable flexrow items-header">
		<div class="flexrow flexlarge item-name upperC">
			{{localize 'ELECTRICEMBRACE.UI.Consumables'}}
		</div>
		<div class="flexrow flexlarge item-info">
			<p>{{localize 'ELECTRICEMBRACE.UI.Quantity'}}</p>
		</div>
		<div class="item-controls">
			<a
				class="item-control item-create"
				title="{{localize 'ELECTRICEMBRACE.TEMPLATES.Create_Consumable'}}"
				data-type="consumable"
			>
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</li>

	{{#each consumables as |item id| }}
		<li class="item consumable" data-item-id="{{item._id}}">
			<div class=" flexrow">
				<div class="item-name flexlarge flexrow-roll">
					<a class="resource-label">
						{{item.name}}
					</a>
				</div>

				<div class="flexrow align-mid item-quantity">
					<input type="number" name="quantity" value="{{item.system.quantity}}">
				</div>

        		<div class="item-controls">
					<a
						class="item-control item-edit"
						title="Edit Item"
					>
						<i class="fas fa-edit"></i>
					</a>
					<a
						class="item-control item-delete"
						title="Delete Item"
					>
						<i class="fas fa-trash"></i>
					</a>
				</div>


			</div>
		</li>
	{{/each}}

</ol>