<section class="grid grid-3col">
    <aside class="sidebar">

      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
        <div class="abilities flexcol">
            <li class="item flexrow items-header">
                <div class="attribute-label">Derived Statistics</div>
            </li>
            <div class=" flexrow">
                <div class="item-name flex3">
                    <h4>Melee Damage</h4>
                </div>
                <div class="melee-damage-value flex1">
                    <input type="number" name="value" value="{{system.meleeDamage.value}}">
                </div>
            </div>
            <div class=" flexrow">
                <div class="item-name flex3">
                    <h4>Defense</h4>
                </div>
                <div class="defense-value flex1">
                    <input type="number" name="value" value="{{system.defense.value}}">
                </div>
            </div>
            <div class=" flexrow">
                <div class="item-name flex3">
                    <h4>Initiative</h4>
                </div>
                <div class="initiative-value flex1">
                    <input type="number" name="value" value="{{system.initiative.value}}">
                </div>
            </div>
        </div>
      
        <div class="abilities flexcol">
            <li class="item flexrow items-header">
                <div class="attribute-label">Resistances</div>
            </li>
            <div class=" flexrow">
                <div class="item-name flex3">
                    <h4>Energy</h4>
                </div>
                <div class="energy-resistance-value flex1">
                    <input type="number" name="system.body_parts.armL.resistance.energy" value="{{system.body_parts.armL.resistance.energy}}">
                </div>
            </div>
            <div class=" flexrow">
                <div class="item-name flex3">
                    <h4>Overload</h4>
                </div>
                <div class="overload-resistance-value flex1">
                    <input type="number" name="system.body_parts.armL.resistance.overload" value="{{system.body_parts.armL.resistance.overload}}">
                </div>
            </div>
            <div class=" flexrow">
                <div class="item-name flex3">
                    <h4>Physical</h4>
                </div>
                <div class="physical-resistance-value flex1">
                    <input type="number" name="system.body_parts.armL.resistance.physical" value="{{system.body_parts.armL.resistance.physical}}">
                </div>
            </div>
        </div>

        <div class="abilities flexcol">
            <li class="item flexrow items-header">
                <div class="attribute-label">Bonuses</div>
            </li>

        </div>
    </aside>

    {{!-- For the main features list, span the right two columns --}}
    <section class="main grid-span-2">

        {{!-- Head --}}
        <div class="resources grid grid-3col">
            <div class="resource flex-group-center">
                <span>   </span>
            </div>

            <div class="resource flex-group-center">
                <li class="item flexrow items-header">
                    <div class="head-label">Head</div>
                </li>
              <label for="system.body_parts.head" class="resource-label">Wounds<span> / </span>Treated</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="system.body_parts.head.injuryOpenCount" value="{{system.body_parts.head.injuryOpenCount}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="system.body_parts.head.injuryTreatedCount" value="{{system.body_parts.head.injuryTreatedCount}}" data-dtype="Number"/>
              </div>
            </div>

            <div class="resource flex-group-center">
                <span>   </span>
            </div>
        </div>
        
        {{!-- Arms --}}
        <div class="resources grid grid-3col">
            <div class="resource flex-group-center">
                <li class="item flexrow items-header">
                    <div class="armL-label">Left Arm</div>
                </li>
              <label for="system.body_parts.armL" class="resource-label">Wounds<span> / </span>Treated</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="system.body_parts.armL.injuryOpenCount" value="{{system.body_parts.armL.injuryOpenCount}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="system.body_parts.armL.injuryTreatedCount" value="{{system.body_parts.armL.injuryTreatedCount}}" data-dtype="Number"/>
              </div>
            </div>

            <div class="resource flex-group-center">
                <span>   </span>
            </div>

            <div class="resource flex-group-center">
                <li class="item flexrow items-header">
                    <div class="armR-label">Right Arm</div>
                </li>
              <label for="system.body_parts.armR" class="resource-label">Wounds<span> / </span>Treated</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="system.body_parts.armR.injuryOpenCount" value="{{system.body_parts.armR.injuryOpenCount}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="system.body_parts.armR.injuryTreatedCount" value="{{system.body_parts.armR.injuryTreatedCount}}" data-dtype="Number"/>
              </div>
            </div>
        </div>

        {{!-- Torso --}}
        <div class="resources grid grid-3col">
            <div class="resource flex-group-center">
                <span>   </span>
            </div>

            <div class="resource flex-group-center">
                <li class="item flexrow items-header">
                    <div class="torso-label">Torso</div>
                </li>
              <label for="system.body_parts.torso" class="resource-label">Wounds<span> / </span>Treated</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="system.body_parts.torso.injuryOpenCount" value="{{system.body_parts.torso.injuryOpenCount}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="system.body_parts.torso.injuryTreatedCount" value="{{system.body_parts.torso.injuryTreatedCount}}" data-dtype="Number"/>
              </div>
            </div>

            <div class="resource flex-group-center">
                <span>   </span>
            </div>
        </div>

        {{!-- Legs --}}
        <div class="resources grid grid-3col">
            <div class="resource flex-group-center">
                <li class="item flexrow items-header">
                    <div class="legL-label">Left Leg</div>
                </li>
              <label for="system.body_parts.legL" class="resource-label">Wounds<span> / </span>Treated</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="system.body_parts.legL.injuryOpenCount" value="{{system.body_parts.legL.injuryOpenCount}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="system.body_parts.legL.injuryTreatedCount" value="{{system.body_parts.legL.injuryTreatedCount}}" data-dtype="Number"/>
              </div>
            </div>

            <div class="resource flex-group-center">
                <span>   </span>
            </div>

            <div class="resource flex-group-center">
                <li class="item flexrow items-header">
                    <div class="legR-label">Right Leg</div>
                </li>
              <label for="system.body_parts.legR" class="resource-label">Wounds<span> / </span>Treated</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="system.body_parts.legR.injuryOpenCount" value="{{system.body_parts.legR.injuryOpenCount}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="system.body_parts.legR.injuryTreatedCount" value="{{system.body_parts.legR.injuryTreatedCount}}" data-dtype="Number"/>
              </div>
            </div>
        </div>

    </section>

</section>