<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Skill</div>
    <div class="item-skill-ranks">Ranks</div>
    <div class="item-skill-tag">Specialization</div>
  </li>
  {{#each skills as |item id|}}
    <li class="item skill flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <h4><a data-roll-type="item">{{item.name}} [{{item.system.defaultAttribute}}]</a></h4>
      </div>
      <div class="item-skill-value">
				<input type="number" name="value" value="{{item.system.value}}">
			</div>
      <div class="item-skill-tag">
				<input type="checkbox" name="tag" {{#ifCond item.system.tag '==' true}}checked{{/ifCond}} >
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>
