input[type="text"],
input[type="number"] {
	background-color: #f0f0f09c;
	color: black;
	//background-color: $c-char-input-bg;
	//color: $c-char-input;
	&.underline {
		background-color: unset;
		border: unset;
		text-overflow: ellipsis;
		//border-bottom: 1px dashed $c-font-prim;
		//color: $c-font-prim;
	}
	&::placeholder {
		color: #999;
	}
}

.resource-label {
  font-weight: bold;
}